body{
  margin: 0;
  padding: 0;
}

.main{
  background-color: #1A1616;
}

.icons .container{
  background-color: #1A1616;
  margin: 0;
  display: flex;
  text-align: center;
}

.icons .container .icons-list li{
  color: white;
  display: flex;
  float: right;
}

li{
   list-style-type: none;
}
.fab,
.fas{
  font-size: 20px;
  color: white;
}
.fa-bars{
  padding-left: 40px;
}
.fa-caret-down{
  padding-left: 10px;
}

.icons-list{
  float: right;
  display: flex;
  margin-left:88%;
}

.header{
  align-items: center;
  text-align: center;
}
.header .container{
  background-color: #1A1616;
  text-align: center;
  align-items: center;
  margin:0;
}

.logo-wrap{
  padding: 10px;
  align-items: center;
}
.container .logo{
  padding-bottom: 10px;
  align-items: center;
}

.content .container a,
.head .content a,
.body .content a,
.ghost .content a{
  text-decoration: none;
  color: white;
}

.search-wrap{
  background-color: #2B2727;
  height: 40px;
  width: 40%;
  border-radius: 5px;
  margin-left: 30%;
  margin-bottom: 10px;
  padding: 5px;
}

.search-wrap .search{
  background-color: #2B2727;
  height: 33px;
  color: white;
  font-size: 20px;
  border: none;
  width: 70%;
  padding-left: 20%;
}

.search-wrap .fa-search{
  color: white;
  background-color: #2B2727;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.content .container {
  background-color: #1A1616;
  display: flex;
  margin-left:0;
  padding-left: 25%;
  padding-top:2%;
  height: 75vh;
}

.information .fa-star,
.information .fa-star-half-alt{
  color:red;
  font-size: 10px;
}
.content .content-information{
  position: absolute;
  z-index: 1;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
}

.content .content-image{
  position: absolute;
  z-index: 0;
  top: 35%;
  left: 15%;
}

.content-image img{
  width: 100%;
}

.content button{
  background-color: #2BB8E5;
  border: none;
  color: white;
  height: 50px;
  width: auto;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}
.head .container{
  background-color:#1A1616;
  margin-top: 0;
}
.head .how-it-works{
  text-align: center;
  background-color: #1A1616;
  color:white;
  margin-top: 0px;
}

.how-it-works h1,
.head h1{
  margin: 0;
}

.container .boxes{
  display: flex;
  background-color: #1A1616;
  background-image: linear-gradient(#1A1616, #1A1616, #66FFB2);
  padding-top: 20px;
}

.boxes .box{
  background-color: #1A1616;
  color: white;
  margin-left: 8%;
  text-align: center;
  align-items: center;
  width: 17vw;
  border-radius: 20px;
  padding: 50px 40px 50px 40px;
}

.head .content{
  background-color: #66FFB2;
  text-align: center;
  color: white;
  padding-top: 50px;
  font-size: 25px;
  padding-bottom: 20px;
}

.head button{
  background-color: rgba(255, 0, 0, 0.2);
  width: 25vw;
}

.body .container{
  text-align: center;
  align-items: center;
}

.body .image{
  background-color: #66FFB2;
  padding-bottom: 0;
}

.body .image img{
  padding-bottom: 0;
  padding-top: 60px;
}

.body .content{
  background-color: #ffa64d;
  color: white;
  padding-top: 25px;
  padding-bottom: 10px;
}

.body .content h1
.ghost .content h1
.bath .content h1{
  margin-top: 0;
  font-size: 50px;
}
.body p,
.ghost p,
.bath p{
  font-size: 25px;
}
.body button{
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
}

.ghost .container{
  text-align: center;
  align-items: center;
}

.ghost .image{
  background-color: #ffa64d;
  padding-bottom: 0;
  padding-top: 100px;
}

.ghost .content{
  background-color: #4747d1;
  color: white;
  padding-top: 25px;
  padding-bottom: 10px;
}

.ghost button{
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
}

.bath .container{
  text-align: center;
  align-items: center;
}

.bath .image{
  background-color: #4747d1;
  padding-bottom: 0;
  padding-top: 150px;
}

.bath .list ul{
  display: flex;
  float: right;
  list-style-type: none;
}

.bath a,
.bath li{
  text-decoration: none;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.bath .content{
  background-color: #80bfff;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
  padding-top: 30px;
}

.bath button{
  background-color: rgba(0, 0, 0, 0.7);
  width: 25vw;
}

.footer{
  background-color: #80bfff;
}

.footer .container{
  text-align: center;
}

.footer .image{
  padding-top: 120px;
}
